/* Configuración inicial */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee9e9;
    color: #1f1f1f;
}

h1, h2 {
    font-family: "Story Script", sans-serif;
}

h2 {
    font-size: 2.3rem;
}

p, a {
    font-family: "DM Sans", sans-serif;
}

/* 
a {
    display: inline-block;
    padding: 20px 30px;
    background-color: #fca533;
} */


/* Menú de navegación */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #1f1f1f;
    color: #eee9e9;
    font-weight: 300;
    padding: 30px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.logo-sitio a {
    color: #eee9e9;
    text-decoration: none;
}

.logo-sitio h4 {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
}

.header h1 span {
    color: #fca533;
    font-weight: 800;
}

.menu a {
    display: inline-block;
    color: #eee9e9;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 7px;
    margin: 0 5px;
    padding: 10px 20px;
    transition: all .2s ease;
}

.menu a:hover {
    background-color: #fca533;
    color: #1f1f1f;
    font-weight: 500;
}


/* Sección: Acerca de mí */
.acerca-de-mi {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px 50px;
}

.container-acerca {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    font-size: 1.1rem;
}

.container-acerca h2 {
    margin-bottom: 7px;
}

.redes a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: #fca533;
    color: #1f1f1f;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 7px;
    margin: 20px 10px 0;
    padding: 10px 20px;
    transition: all .2s ease;
}

.redes a svg {
    color: #1f1f1f;
    transition: all .2s ease;
}

.redes a:hover {
    background-color: #1f1f1f;
    color: #fca533;
    padding: 10px 25px;
}

.redes a:hover svg {
    color: #eee9e9;
}


/* Sección: Motion Graphics */
.seccion-motion-graphics {
    background-color: #1f1f1f;
    color: #eee9e9;
    padding: 40px 0;
    scroll-margin-top: 100px;
}

.seccion-motion-graphics .video {
    display: flex;
    flex-direction: row;

}

.seccion-motion-graphics .video img {
    width: 300px;
}

.seccion-motion-graphics .video video {
    width: 300px;
}

.titulo-seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #fca533;
    margin-bottom: 20px;
}

.titulo-seccion::before,
.titulo-seccion::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: currentColor;
    max-width: 200px;
    border-radius: 100px;
}


/* Sección: Ilustraciones */
.seccion-ilustracion {
    margin: 30px 10px 60px;
}

.seccion-ilustracion .titulo-seccion {
    color: #1f1f1f;
}

.img-ilustraciones {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 30px;
}

.img-ilustraciones img {
    width: 360px;
    height: auto;
    border-radius: 10px;
    transition: all .3s ease;
}

.img-ilustraciones img:hover {
    transform: translateY(-7px);
}


/* Sección: Edición */
.seccion-edicion {
    background-color: #fca533;
    color: #1f1f1f;
    padding: 40px 0;
    scroll-margin-top: 100px;
}

.seccion-edicion .claro,
.seccion-apoyos .claro {
    color: #1f1f1f;
}

.video {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    text-align: center;
    margin: 0 auto 50px;
}

.video iframe {
    margin-bottom: 15px;
    border-radius: 15px;
}


/* Footer */
.footer {
    background-color: #1f1f1f;
    color: #eee9e9;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 200;
    padding: 25px;
}

.footer p span {
    color: #fca533;
    font-style: italic;
    font-weight: 600;
}